body {
  margin-top: 0;
  margin-right: 0;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  background-color: black;
  color: lightgray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0;
  margin-left: 0;
  padding-left: 1em;
}

.recent-projects {
  /* padding-left: 1em; */
  margin-left: 20px;
  font-size: 16px;
}

.recent-projects-table td, th {
  /* padding-left: 20px; */
  margin-left: 20px;
  table-layout: auto;
  border-bottom: 1px solid lightslategray;
  padding: 0.25em;
  /* border: 0.5px solid black; */
  /* padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em; */
}

.recent-projects-table th {
  background-color: grey;
}

button {
  margin-top: 2em;
  font-size: 16px;
  border-radius: 10px;
}

button.start {
  background-color: green;
}

button.stop {
  background-color: crimson;
}


a {
  color: #506EA2;
  text-decoration: none;
}

a:hover {
  color: #506EA2;
  font-weight: bold;
  background-color: lightgray;
  padding: 0.25em;
  border-radius: 10px;
  box-shadow: 1em;
}

#error {
  color: darkred;
  background-color: salmon;
  padding: 0.25em;

}

.page {
  font-size: medium;
}

.page p {
  display: inline-block;
}

.edit {
  padding-top: 2em;
  display: block;
}

.edit input {
  width: 50%;
  display: block;
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
  padding: .25em;
}

.edit label {
  padding-top: 1em;
  font-weight: bold;
}